@tailwind base;
@tailwind components;
@tailwind utilities;

header{
    background-color: pink;
    height: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: auto;
  }
   h1 {
   max-width: 30%;
   align-items: left;

  }
  .header-horacio { 
    background-color: rosybrown;
  }
  
  .header-sofia {
    background-color: blueviolet;
  }
  
  header nav {
    display: flex;
   justify-content: space-between;

  }


.cart-widget {
    align-items: right;
    display: flex;
    max-width: 10%;
   
 
   }


.footerclass
{
    display: flex;
   justify-content: space-between;
   
  }

.card {
  @apply p-2 shadow-md space-y-8 rounded-sm hover:scale-105 transition-all;

  &__title {
      @apply text-xl font-bold overflow-hidden whitespace-nowrap overflow-ellipsis;
    background-color: pink
    }

  &__image {
      @apply h-[150px] object-contain w-full;
  }
 

}

.item-list-container {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-8;
margin: 20px;


}

.btnCard{

background-color:pink;
}
